attrs
blinker
CacheControl
cachetools5.3.
certifi
cffi
charset-normalizer
click
cryptography
filelock
firebase-admin
Flask
gcloud
geographiclib
geopy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
joblib
jsonschema
jws
llvmlite
MarkupSafe
more-itertools
mpmath
msgpack
networkx
numba
numpy
oauth2client

pandas
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydub
pygame
PyJWT
pyparsing
pyproject-toml
pyrsistent
python-dateutil
python-dotenv
python-jwt
pytz
regex
requests
requests-toolbelt
rsa
scikit-learn
scipy
six
sympy
threadpoolctl
tiktoken
toml
torch
tqdm
typing_extensions=
tzdata
uritemplate
urllib3
Werkzeug
