cachetools
certifi
cffi
charset-normalizer
click
cryptography
filelock
firebase-admin
Flask5
google-api-core
google-api-python-client
google-auth
Jinja
joblib
jsonschema
jws
llvmlite
MarkupSafe
more-itertools
mpmath
pygame
PyJWT
pyparsing
pyproject-toml
Pyrebase
pyrsistent
python-dateutil
python-dotenv
python-jwt
pytz
regex
requests
requests-toolbelt
rsacikit-learn
typing_extensions
tzdata
uritemplate
urllib
Werkzeug
